
{{#each parameters }}
{{#if this.fields }}
<p>
<details>
    <summary>
        {{> components.field-details name=this.name type=this.type required=this.required description=this.description }}
    </summary>
<br>

  {{#each this.fields }}
  {{#if this.fields }}
  {{> partials.body-parameters parameters=(objectWrap this.name this) }}
  {{else}}
  <p>
  {{> components.field-details name=this.name type=this.type required=this.required description=this.description }}
  </p>
      {{/if}}
  {{/each}}
</details>
</p>
{{else}}
<p>
{{> components.field-details name=this.name type=this.type required=this.required description=this.description }}
</p>
{{/if}}
{{/each}}